:root {
  --text-color: #091729;
  --button-color: #091729;
  --text-second: #edf2f1;
  --hover-color: #ffff;
  --link-hover-color: #316345;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(231, 230, 230);
}
.container {
  margin: 0 auto;
  max-width: 100vh;
  max-height: 100vh;
  background-color: var(--hover-color);

  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.FormField {
  justify-content: center;
  height: 480px;
  display: flex;
  padding: 5px 5px;
  margin-top: 60px;
  border-radius: 12px;
}
.form-content {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  flex: 1;

  h2 {
    text-align: center;
    color: var(--text-color);
    padding: 0;
    margin: 0;
  }
  p {
    text-align: center;
    color: var(--text-color);
    padding: 0;
    margin: 6px 0 32px 0;
    font-weight: 500;
    a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 700;
    }
    a:hover {
      color: var(--link-hover-color);
      text-decoration: underline;
    }
  }
  .Icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    a {
      text-decoration: none;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid lightgray;
      display: flex;
      align-items: center;
      font-size: 18px;
      justify-content: center;
      font-weight: 700;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
    }
    a:hover {
      transform: scale(1.3);
    }
  }
  .form-separator {
    display: flex;
    align-items: center;
    margin: 40px 0 30px 0;
    p {
      margin: 0 6px;
      text-align: center;
      color: var(--button-color);
    }
    .Line {
      background-color: rgb(202, 200, 200);
      height: 1px;
      width: 100%;
      flex: 1;
    }
  }
  .form-input {
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .emailField {
      margin-bottom: 18px;
      width: 100%;

      label {
        display: block;
        color: var(--text-color);
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 7px;
      }
      input {
        flex-shrink: 1;
        width: 93%;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 7px;
        outline: none;
        font-size: 17px;
        color: var(--text-color);
      }
    }
    .PassdField {
      width: 100%;

      margin-bottom: 18px;
      position: relative;
      label {
        display: block;
        color: var(--text-color);
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 7px;
      }
      input {
        flex-shrink: 1;
        width: 93%;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 7px;
        outline: none;
        font-size: 17px;
        color: var(--text-color);
      }
      span {
        position: absolute;
        top: 45%;
        transform: translateX(-50%);
        right: -7px;
        font-size: 20px;
        display: flex;
        align-items: center;
        height: 50%;
        background-color: #fff;
      }
    }
  }
  .signUp {
    width: 100%;
    .signInBtn {
      background: var(--button-color);
      color: var(--text-second);
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 0;
      text-align: center;
      border-radius: 25px;
      border: none;
      transition: all 0.4s;
    }
    .signInBtn:hover {
      background: var(--link-hover-color);
      color: var(--hover-color);
      cursor: pointer;
    }
  }
}
.img-container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .welcome-image {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;
  }
}
.forgot-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}
.forgot-link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
